@{
    ViewData["Title"] = "Consulta de clientes";
}

@model List<ProjetoFinal.Models.Usuario>

<div class="container mt-5">

    <h2 class="mb-4 text-center">Clientes Registrados</h2>

    <form method="get" asp-action="ConsultaCliente" class="mb-4">
        <div class="input-group">
            <input type="text" name="nome" class="form-control" placeholder="Pesquisar por nome..." />
            <button class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <table class="table table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Idade</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.Nome</td>
                    <td>@u.Cpf</td>
                    <td>@u.Idade</td>
                    <td>@u.Email</td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                           asp-controller="GerenciarCliente"
                           asp-action="Editar"
                           asp-route-id="@u.Codigo_Usuario">
                            Editar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-secondary w-100 mt-4 mb-5"
       asp-controller="Atualizar"
       asp-action="Atualizar">
        Voltar
    </a>

</div>